@mixin section-header() {
    font-size: 1.75em;
    margin-bottom: 20px;
    color: $text-dark-grey;
}

@mixin section-container() {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 90%;
    max-width: 1200px;
}

@mixin section-content() {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: $text-dark-grey;
}